/*
    Document   : estilo2
    Created on : 29-may-2013, 10:19:08
    Author     : federico.jimenez
    Description: Conseguir un estilo nuevo para el juego de plantillas

*/

/* Estilos generales del documento */
body {
   background: #fff;
}

#total {
   padding: 0;
}

.row ul li {
   margin-bottom: 5px;
}

h1 {
   font-size: 22px;
}
h2 {
   font-size: 20px;
}
h3 {
   font-size: 18px;
}

h1, h2, h3 {
   line-height: 20px;
   margin-left: 15px;
   color: #3d85ea;
}

/* MAIN */
#mainCuerpo {
   margin: 0 20px;
   padding: 0 10px;
   background-color: #fff;
}

#mainCuerpo .principal,
#mainCuerpo .lateral {
   display: table-cell;
   float: none;
   padding-left: 20px;
}

#menuTop {
   background-color: #377bda;
}

#menuTop ul {
   margin: 0;
}
#menuTop ul li {
   background-color: #498ceb;
}
#menuTop ul li a {
   background-color: #377bda;
}

#menuTop .nav-pills > li > a {
   border-radius: 0;
   color: #fff;
   text-align: center;
   min-width: 80px;
   margin: 1px 0px 0 1px;
}

#menuTop .nav-pills > li > a:hover,
#menuTop .nav-pills > .active > a {
   background-color: #fff;
   color: #377bda;
}

/*
#menuHorizontalFlotante {
   padding: 0 2px 0 2px;
}
*/

#menuHorizontalFlotante .menu {
   float: left;
}

#submenu {
   height: 34px;
   border-bottom: 1px solid #ccc;
   margin-bottom: 10px;
}

#submenu ul {
   margin-bottom: 0;
}

#submenu .menu {
   width: 100%;
}

.user-navigation {
   float: right;
}

.user-navigation a  {
   position: relative;
   padding-left: 25px !important;
}

.user-navigation span {
   position: absolute;
   top: 2px;
   left: 20px;
}

.cuerpoContent {
   text-align: justify;
   background-color: #fff;
   padding-top: 10px;
}

.cuerpoContent > .row {
   margin-left:0;
}

/* Custom container */
.container {
   margin: 0 auto;
}

.container > hr {
   margin: 20px 0;
}

.row {
   margin-bottom: 10px;
}

.col2 .colIzq h3, .col2 .colDer h3 {
   margin-top: 0;
   line-height: 25px;
}
.col2 .colIzq, .col2 .colDer {
   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
   -moz-box-sizing: border-box;    /* Firefox, other Gecko */
   box-sizing: border-box;         /* Opera/IE 8+ */
   background-color: #EEE9E9;
   padding: 10px;
}

#footer > .row {
   margin-left:0;
}

#footer {
   color: #377bda;
   padding: 20px 0;
}

#footer3Columnas {
   padding-top: 15px;
}

.lateral .intro {
   font-size: 18px;
   font-weight: bold;
}

textarea {
   width: 95%;
   max-width: 500px;
}

.field_error,
input.field_error {
   border: 1px solid red;
}

table tfoot, table thead {
   background: #397cdc;
   color: #fff;
}

table tr.opciones form {
   width: 100%;
   margin-bottom: 0;
   padding: 5px 10px;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

table tr.opciones form div.tRow {
   display: table;
   position: relative;
   width: 100%;
   height: 40px;
   vertical-align: middle;
}

table tr.opciones form div.tRow > div {
   display: table-cell;
   vertical-align: middle;
}

table tr.opciones form div.tRow > div.filtrado {
   text-align: left;
}

table tr.opciones form input[type="text"],
table tr.opciones form select {
   margin-bottom: 0;
   width: 60px;
}

table tr.opciones form .paginacion input {
   width: 25px;
   text-align: center;
}

form img.load,
table tr.opciones .estado img.load {
   display:none;
}

table tr.opciones .estado {
   width: 39px;
}

table tr.opciones form input[type="text"].filtrar,
table tr.opciones form select.filtrar {
   width: 200px;
}


.paginacion > a {
   color: #fff;
}

.table thead tr.opciones {
   background-color: #3d85ea;
}
.table thead tr.opciones td {
   padding: 0;
}

.table thead th {
  border-top: 0;
}

.table thead .opciones .filtrado,
.table thead .opciones .per_page {
   text-align: left
}
.table thead .opciones .elementos {
   width: 43px;
   position: relative;
}
.table thead .opciones .elementos .add {
   position: absolute;
   top: 0;
   right: -6px;
}

.table thead .opciones .paginacion,
.table thead .opciones .results {
   text-align: right;
}

.table thead .opciones .paginacion .botones {
   display: inline-block;
   background-color: #fff;
   border-radius: 3px;
   padding: 2px;
}

/* DISEÑO DE LAS TABLAS PARA QUE NO PEGUE SALTOS */
#webs > tbody td:nth-child(2),
#webs > tbody td:nth-child(3) {
   min-width: 210px;
}

#webs > tbody td:nth-child(7) {
   text-align: center;
}

#webs > thead th.acciones,
#webs > tbody td:last-child {
   width: 55px;
   text-align: center
}

#paginas > thead th,
#paginas > tbody td {
   width: 18%
}

#paginas > thead th.acciones,
#paginas > tbody td:last-child {
   width: 8%;
   text-align: center
}

#noticias > thead th,
#noticias > tbody td {
   width: 23%
}

#noticias > thead th.acciones,
#noticias > tbody td:last-child {
   width: 8%;
   text-align: center
}

#categorias > thead th,
#categorias > tbody td {
   width: 30%
}

#categorias > thead th.acciones,
#categorias > tbody td:last-child {
   width: 8%;
   text-align: center
}

#productos > thead th,
#productos > tbody td {
   width: 23%
}

#productos > thead th.acciones,
#productos > tbody td:last-child {
   width: 8%;
   text-align: center
}

.form-horizontal img.load {
   width: 30px;
   height: 30px;
}